h1:hover {
    color: whitesmoke;
    background-color: rgb(83, 88, 74);
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 10px black;
}

/* img{
    border: 1px solid gray;
    box-shadow: 2px 2px 8px b;
} */

h1 {
    color: black;
    background-color: rgb(194, 194, 181);
    text-align: center;
    border-radius: 5px;
    transition: 1s;
    box-shadow: 3px 3px 8px rgba(22, 21, 21, 0.141);

}

.food {
    border: 2px solid rgb(146, 204, 204);
    gap: 30px;
    /* display: flex; */
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 5px 5px 15px black; */
    text-align: center;
    background-color: rgb(235, 251, 205);
}

.food:hover {
    color: rgb(254, 254, 254);
    background-color: rgb(83, 88, 74);
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 20px black;
    transition: 1s;
}

.containar {
    /* display: flex; */
    gap: 20px;
    /* padding: 10px; */
    margin: 3px;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
}